body{
	height: 2524px;
	width: 767px;
	padding-bottom: 3%;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: grey;
	text-align: center;
	display: none;
}

input[type='checkbox']{
	position: relative;
	left: 95%;
}

.lock{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header{
	padding-bottom: 3%
}

.rightPosBtn{
	position: absolute;
	right: 1%
}

.settingMenu{
	display: none;
}
