body{
	height: 2524px;
	width: 767px;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: grey;
	text-align: center;
	display: none;
	/* padding-top: 20px; */
}

input[type='checkbox']{
	position: relative;
	left: 95%;
}

.lock{
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#edit{
	position: absolute;
	left: 95%;
}
