body{
	height: 2524px;
	width: 767px;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: grey;
	text-align: center;
	/* padding-top: 20px; */
}

input[type='checkbox']{
	position: relative;
	left: 95%;
}
